<section id="newsletter" class=" section-m1">
  <div class="newstext">
    <h4 class="text-white font-bold text-22-px leading-none">Inscrivez-vous à la newsletter</h4>
    <p class="text-newsp font-semibold text-sm leading-none">Recevez des mises à jour par e-mail sur notre dernière boutique et<span
        class="text-newSpan">offres spéciales.</span>
    </p>
  </div>
  <form class="flex lg:w-2/5 md:w-9/12 sm:w-full">
    <input type="text" placeholder="Your email address">
    <button class="normal">S'inscrire</button>
  </form>
</section>
