<section id="about-head" class="section-p1 flex md:flex-row sm:flex-col items-center">
  <!-- <img src="../../../../../assets/img/about/a6.jpg" alt="" class="md:w-1/2 sm:w-full md:mb-0 sm:mb-5 h-auto"> -->
  <img src="https://i.ibb.co/178dKyw/a6.jpg" alt="" class="md:w-1/2 sm:w-full md:mb-0 sm:mb-5 h-auto">
  <div class="md:pl-10 sm:pl-0">
    <h2>Qui sommes-nous ?</h2>
    <p class="leading-none">Nous sommes l'équipe 404, une équipe dynamique spécialisée en informatique. Passionnés par les nouvelles technologies, nous mettons notre expertise au service de vos projets. Notre mission est de vous offrir des solutions innovantes et adaptées, en répondant efficacement aux défis du secteur numérique. Grâce à notre savoir-faire et notre capacité à évoluer dans un environnement en constante mutation, nous accompagnons nos clients pour atteindre leurs objectifs avec succès.</p>

    <abbr class="font-semibold text-txtPrimary2 underline decoration-dotted">Créez des images époustouflantes avec autant ou aussi peu de contrôle que vous le souhaitez grâce à un choix de modes Basique et Créatif.</abbr>

    <br><br>

    <marquee bgcolor="#ccc" loop="'-1" scrollamount="5" width="100%" class="text-sm mt-5 p-0">Créez des images époustouflantes avec autant ou aussi peu de contrôle que vous le souhaitez grâce à un choix de modes Basique et Créatif.</marquee>
  </div>
</section>
